<body>

    <link rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <!-- <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-colors">
      <div class="container-fluid">
    
        <ul class="nav navbar-nav">
          
          <li><a href="#">Add Instructor</a></li>
          <li><a href="#">Remove Instructor</a></li>
          <li><a href="#">Inactive accounts</a></li>
          <li><a href="#">Codeword Set</a></li>

        </ul>
      </div>
    </nav> -->


    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success text-white">
        <a class="navbar-brand" href="/">Admin Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="/addinstructor">Add Instructor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/removeinstructor">Remove Instructor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inactiveaccounts">Inactivate account</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="users/logout">Logout</a>
            </li>
    
            <!-- view-source:https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/examples/navbars/ -->
            
          </ul>
        </div>
      </nav>

  </body>    