<div class="form-group">
    <label for="codewordedit">codewordedit:</label>
    <input type="text" class="form-control" id="codewordedit">

  </div>
  <div class="container">
    <button type="button" class="btn btn-success">Add</button>
    </div>
    <a href="admin/" style="margin-top: 10px; margin-left: 10px"></a>