<body>
        <% include adminnav.ejs %>
    <h1>Remove Inactive accounts</h1>
<table class="table table-striped">
    <thead>
    <tbody>
        <tr>
            <td>EmailId</td>
            <td><button type="button" class="btn btn-danger">Decline</button></td>
        </tr>           
    </tbody>
</table>
</body>