<!-- https://fezvrasta.github.io/bootstrap-material-design/ -->
<!-- Bootstrap Material Design Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<!-- Bootstrap Material Design -->
<link rel="stylesheet"
  href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
  integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />

<!-- Bootstrap Material Design requires jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- Bootstrap Material Design requires Popper -->
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
  integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<!-- Bootstrap Material Design  -->
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
  integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="row mt-5">
  <div class="col-sm-6 m-auto">
    <div class="card card-body">
      <h2 class="text-center"> Codeword Application</h2>
      <h2 style="display:none;" id="uid"><%=email %></h2>
      <form id="form" onsubmit="return false;">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Password" value="<%= email%>" disabled/>
    
              </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />

          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="text" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm Password" />
          </div>
        </div>
        <div class="form-group">
          <button type="submit" onclick="submitval()" class="btn btn-primary login-btn btn-block">Reset Password</button>
        </div>
      </form>
      <label id="validationMessage" style="color:red"></label>
    </div>
  </div>
  <script>
    function submitval() {
      $.ajax({
        url: '/users/reset/success',
        type: 'POST',
        data: {email: $("#uid").html(), password: $('#password').val(), confirmpassword: $('#confirmpassword').val()},
        success: function (response) {
          console.log('form submitted.');
          location.pathname = "/users/login"
        },
        error: function (response) {
          console.log(response)
          document.getElementById('validationMessage').innerHTML = response.responseText
        }
      });
      return false;

    }



  </script>