<header>
    <!-- Fixed navbar -->
    <!-- https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/examples/sticky-footer-navbar/ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success text-white">
      <a class="navbar-brand" href="/">CodewordApplication</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          
          <!-- <li class="nav-item">
            <a class="nav-link" href="/instructor">InstructorDashboard</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/student">StudentDashboard</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/instructor/codewords">CodewordDashboard</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
  
          <!-- view-source:https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/examples/navbars/ -->
          
        </ul>
      </div>
    </nav>
  </header>